<section id="section-about" class="clearfix about">

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-7">
                    <div class="column">
                        <h2 class="heading__title">Meet the Doctor</h2>
                        <img src="/assets/doc-bio-mobile.jpg" alt="Dr. B.C. Nelson" class="hidden-md hidden-lg">
                        <h3 class="main__name">B.C. Nelson, <span class="main__name--title">DMD</span></h3>
                        <p class="main__copy">Dr. B.C. Nelson is a unique small-town dentist. His knowledge of advanced clinical dentistry enables him to provide some of the latest advances in dental technology—such as cosmetic dentistry and mercury-free restorations. Best of all, Dr. Nelson combines clinical dentistry with small-town care and communication that will make you and your family feel right at home.</p>
                        <p class="main__copy">Dr. Nelson was born in Colorado and grew up in Colstrip, Montana. After graduation from Dickson State University, he was inducted into Omicron Kappa Upsilon, a national dental honor society.  He then attended an advanced education in general dentistry program at UCLA and then practiced in Bellevue, WA. prior to returning home to Montana.</p>
                        <p class="main__copy">Dr. Nelson and his wife, Bernie, moved to Stayton to raise their daughter and twin boys, in a small, family oriented community.  They enjoy playing golf, hiking, snowboarding/skiing and spending time with family.</p>

                        {% include 'molecules/associations__carousel.twig' %}
 
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>