<section id="section-about" class="clearfix about">

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="column">
                        <h2 class="heading__title">Meet the Doctor</h2>
                        <img src="/assets/team/doc-bio.jpg" alt="Dr. B.C. Nelson" class="about-image-fix hidden-md hidden-lg">
                        <h3 class="main__name">B.C. Nelson, <span class="main__name--title">DDS</span></h3>
                        <p class="main__copy">Dr. Nelson is a unique small town dentist.. His use of the latest advances in technology - including tooth-colored fillings, CEREC one-visit restorations, and laser dentistry - will help you maintain a lifetime of healthy smiles, and our office's relaxing atmosphere and inviting staff members will make you feel right at home.</p>
                        <p class="main__copy">Dr. Nelson earned his doctorate from the presitgious Baylor College of Dentistry. He and his wife, Buffie, grew up in Oregon, and they enjoy exploring the beautiful Northwest together.</p>

                        {% include 'molecules/associations__carousel.twig' %}
 
                    </div>
                </div>
                <div class="col-md-5 col-md-push-1 hidden-xs hidden-sm">
                    <img src="/assets/team/doc-bio.jpg" alt="Dr. B.C. Nelson">
                </div>
            </div>
        </div>
    </div>

</section>