<section id="section-insurance">
    <div class="flexbox-wrapper">
        <div class="container">
            <div class="hidden-sm hidden-md hidden-lg">
                <h2 class="title title--mobile center">No Insurance?</h2>
                <div class="row">
                    <img src="/assets/insurance.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image mobile-insurance">
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-lg-6">
                <h2 class="title">No Insurance?</h2>
                <h3 class="sub-title">Our patients don’t need it!</h3>
                {# <h3 class="preventative-care">Get your preventive care for a low monthly fee.</h3> #}
                {# <p class="insurance__copy">Exclusively for our uninsured patients.</p> #}
                {# <p class="insurance__copy hidden-xs hidden-sm "> Make easy monthly payments for your preventive care.</p>
                <p class="insurance__copy hidden-md hidden-lg"> Make easy monthly payments</p> #}
                <p class="insurance__copy insurance__copy--last">Join our Membership Club and get your preventive care for a low monthly fee</p>
                <a class="btn btn--style-two insurance-btn"  href="{{ insuranceLink }}" target="_blank">Learn More</a>
            </div>
            <div class="center hidden-sm hidden-md hidden-lg">
                <h3 class="sub-title">Our patients don’t need it!</h3>
                <p class="insurance__copy insurance__copy--last">Join the Big Sky Dental Clinic Membership Club and get your preventive care for a low monthly fee</p>
                <a class="btn btn--style-two insurance-btn"  href="{{ insuranceLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <img src="/assets/insurance.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image hidden-xs">
</section>