<div id="section-team-photo">
    <img src="/assets/team/team-photo.png" alt="Dr. Nelson's Team" class ="hidden-xs hidden-sm">
    <img src="/assets/team/team-mobile.jpg" alt="Dr. Nelson's Team" class ="hidden-md hidden-lg">
</div>

<section id="section-location">
    <div class="container">
        <div class="location location__two-column">
            <div class="location__card--wrapper">

                {% include 'molecules/location-card__simple.twig' %}

            </div>
            <div class="location__map">

                {% include 'atoms/google-map.twig' %}

            </div>
        </div>
    </div>
</section>