<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="/assets/slides/slide-mobile.jpg" style="width:100%;height:auto;" alt="{{ mainDoctor }}">
    </a>
</div>

<!-- Slider
============================================= -->
<div id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide1" style="background: url('assets/slides/slide1.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right">
                        <img src="/assets/slides/slide1-text.svg" alt="Creating Great Smiles at DeFont Family Dental" class="slide1-svg-text">
                        <a href="#" class="btn btn--style-two btn-slide-one" data-offset="92" data-scrollto="#section-specials">NEW PATIENT OFFERS</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide2" style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right">
                        <img src="/assets/slides/slide2-text.svg" alt="The Right Dentist for your Family. Five Star Reviews. 'Dr. Nelson is awesome with children!' -Courtney" class="slide__image">
                        <a href="#" class="btn btn--style-two btn-slide-two" data-offset="98" data-scrollto="#section-reviews">READ MORE REVIEWS</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide3" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix slide-content">
                    <div class="slider-caption slider-caption-right">
                        <img src="/assets/slides/slide3-text.svg" alt="No Insurance? Our Patients Don't Need It! Get your preventive care for a low monthly fee." class="slide__image">
                        <a href="#" class="btn btn--style-two btn-slide-three" data-offset="98" data-scrollto="#section-insurance">Learn more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
 {% include 'atoms/down-arrow.twig' %} 
