<section id="section-reviews">
    {# <div class="container">
        <h2 class="heading">Patient Reviews</h2>
    </div> #}

    <div class="container">
        <div class="col-sm-6 col-sm-push-1">
            <h2 class="heading">Patient Reviews</h2>
            <img src="/assets/reviews.jpg" alt="Reviewers" class="hidden-sm hidden-md hidden-lg reviews-mobile">
            <div id="bf-revz-widget-{{ birdeye }}" style="-webkit-overflow-scrolling:touch;">
            </div>
            <div class="row">
                <div class="bf-dv"><span class="bf-spn">Reviews Powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
            </div>
        </div>
    </div>
</section>
