<section id="section-services">
    <div class="container">

        <h2 class="services__heading center">Our Services</h2>
        <p class="services__byline center">Select a link below to learn more about our services and treatments</p>

        {# ======= Row # 1 ======= #}
        <div class="row">

            <div class="col-xs-12 col-sm-8 card" data-target="#modal--makeovers" data-toggle="modal">
                <img src="/assets/services/makeovers.jpg" alt="Smile Makeovers" class="feature__image">
                <div class="card__text">
                    <h3 class="feature__title">Smile Makeovers</h3>
                    <hr class="hr">
                    {# <h3 class="feature__title hidden-sm hidden-md hidden-lg">Makeovers</h3> #}
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 card" data-target="#modal--crowns" data-toggle="modal"><img src="/assets/services/crowns.jpg" alt="Porcelain Crowns & Bridges" class="card__image card__image--fix">
                <div class="card__text">
                    <h5 class="card__title">Crowns & Bridges</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>
            
        </div>

        {# ======= Row # 2 ======= #}
        <div class="row">

            <div class="col-xs-12 col-sm-4 card" data-target="#modal--veneers" data-toggle="modal"><img src="/assets/services/veneers.jpg" alt="Veneers" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Veneers</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 card" data-target="#modal--whitening" data-toggle="modal"><img src="/assets/services/whitening.jpg" alt="Smile Whitening" class="card__image">
                <div class="card__text">
                    <h5 class="card__title hidden-xs hidden-sm">Smile Whitening</h5>
                    <h5 class="card__title hidden-md hidden-lg">Whitening</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 card" data-target="#modal--mercuryFree" data-toggle="modal"><img src="/assets/services/mercuryFree.jpg" alt="Mercury-Free Restorations" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Mercury-Free</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

        </div>

        {# ======= Row # 3 ======= #}
        <div class="row">

            <div class="col-xs-12 col-sm-4 card" data-target="#modal--cancerScreening" data-toggle="modal"><img src="/assets/services/cancerScreening.jpg" alt="Oral Cancer Screening" class="card__image card__image--fix">
                <div class="card__text">
                    <h5 class="card__title">Cancer Screening</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 card" data-target="#modal--family" data-toggle="modal"><img src="/assets/services/family.jpg" alt="Family Care" class="card__image">
                <div class="card__text">
                    <h5 class="feature__title hidden-xs">Care for the Whole Family</h5>
                    <h5 class="feature__title hidden-sm hidden-md hidden-lg">Family Care</h5>
                    <hr class="hr">
                    <p class="card__link">Learn More</p>
                </div>
            </div>

        </div>

    {% include 'molecules/services__modals.twig' %}

    </div>

</section>