<section id="section-gallery" class="gallery">
    <div class="heading center">
        <h2 class="heading__title">Smile Gallery</h2>
        <p class="heading__byline">Select a link below to learn more.</p>
    </div>
    <div class="full-width-wrapper">
        <div class="container gallery--full-width">
            <div class="owl-carousel js-smile-gallery">

                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

                
                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

                <div class="galleryCard">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore underline">Learn More</p>
                </div>

            </div>
        </div>
    </div>
    <div data-lightbox="gallery" class="hidden">
        <a href="/assets/gallery/1.jpg" data-lightbox="gallery-item" id="gallery-target"><img src="/assets/gallery/1.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>
        <a href="/assets/gallery/2.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/2.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>
        <a href="/assets/gallery/3.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/3.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>
        <a href="/assets/gallery/4.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/4.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile"></a>
    </div>
</section>

