<section id="section-smile-makeovers">
    <img src="/assets/services/cosmetic.jpg" alt="{{ mainDoctor }}'s happy patients" class="smile-makeovers__image hidden-sm hidden-md hidden-lg">
    <div class="flexbox-wrapper">
        <div class="container">
            <div class="col-sm-8 col-xs-12">
                <h2 class="title"><span class="title-smile">Smile</span> Makeovers</h2>
                <p class="smile-makeovers__copy">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile can increase self confidence and overall life satisfaction. Cosmetic dentistry can encompass things such as tooth-colored fillings, dental implants, or crowns. We have many options, so please call us for a free cosmetic consultation.</p>
        
                <a class="btn btn--style-two smile-makeovers-btn"  href="{{ smileMakeoversLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <img src="/assets/services/cosmetic.jpg" alt="{{ mainDoctor }}'s happy patients" class="smile-makeovers__image hidden-xs ">
</section>