#section-team-carousel {
  padding: 25px 0;
  background-color: #eaf0f3;

  .heading {
    color: #157a9e;
    line-height: 1;
    margin-bottom: 0;
  }

  .byline {
    font-size: 16px;
  }

  .owl-carousel .owl-nav [class*=owl-] {
    top: 47%;
  }

  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .full-width-wrapper {
    position: relative;
  }

  .team--full-width,
  .owl-carousel {
    position: static !important;
  }
}
