.team-card {
  text-align: left;
  margin-bottom: 15px;

  a {
    display: inline-block;
  }

  &__name {
    color: #4e4e4e;
    margin-bottom: 0;
    margin-top: 15px;
    line-height: 1;
  }

  &__read-more {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #559604;
    text-decoration: underline;
  }
}

.team-carousel .team-card {
  margin-right: 4px;
}

.team-modal-wrapper {
  img {
    max-width: 170px;
  }
}
