<div class="associations-carousel">
    {# <div class="container"> #}
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="/assets/logos/ada.png" alt="ADA"></div>
                <div class="logo--wrapper"><img src="/assets/logos/agd.png" alt="AGD"></div>
                <div class="logo--wrapper"><img src="/assets/logos/mda.png" alt="MDA"></div>
            </div>
        </div>
    {# </div> #}
</div>
