<div id="section-healthgrades-slab">
    <div class="container">
        <h6 class="text">Learn more from our patients at:</h6>
        <a href="https://www.healthgrades.com/physician/dr-anthony-defont-g95xf" target="_blank"><img src="/assets/healthgrades.png" alt="Healthgrades"></a>
    </div>
</div>