<section id="section-care-credit-slab">
    <div class="container center">
        <h2 class="care-credit-slab__title">Patient Financing</h2>
        <p class="care-credit-slab__copy">We offer CareCredit financing to help our patients get the dental care they need.</p>
        <a href="{{ insuranceLink }}" target="_blank"><img src="/assets/care-credit-footer.png" alt="Care Credit" class="care-credit-slab__logo"></a>
        
        <a href="{{ careCreditLink }}" target="_blank" class="btn btn--style-three care-credit-slab__btn">Learn More</a>
    </div>
</section>
