<section id="section-team-carousel">
    <div class="container">
        <h2 class="heading center">Meet the Team</h2>
        <div class="owl-carousel js-team-carousel">
            {% include 'molecules/team__cards.twig' %}
        </div>
    </div>
</section>

{% include 'molecules/team__modals.twig' %}