<section id="section-team-carousel">
    <div class="full-width-wrapper">
     <div class="container team--full-width">
         <h2 class="heading center">Meet the Team</h2>
         <p class="byline center">Select a link below to learn more.</p>
         <div class="owl-carousel js-team-carousel">
             {% include 'molecules/team__cards.twig' %}
         </div>
        </div>
    </div>
</section>

{% include 'molecules/team__modals.twig' %}