<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/1.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/2.jpg" alt="Comfortable waiting room" >
    </div>
    <div>
        <img src="/assets/tour/3.jpg" alt="Dr. Nelson’s inviting facilities">
    </div>
    <div>
        <img src="/assets/tour/4.jpg" alt="Dr. Nelson’s inviting facilities">
    </div>
    <div>
        <img src="/assets/tour/5.jpg" alt="Dr. Nelson’s inviting facilities">
    </div>
</div>
