#section-reviews {
  background-color: #157a9e;
  border-bottom: none;
  padding-bottom: 45px;

  @media (min-width: 768px) {
    background-image: url('/assets/reviews.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .reviews-mobile {
    margin-bottom: 15px;
  }

  .heading {
    padding-top: 0;
    text-align: center;
    margin-top: $spacing-md;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 900;
    line-height: 1.5;
    font-style: normal;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  .row--flexed {
    @media (min-width: 768px) {
      display: flex;

      [id^="bf-revz-widget-"] {
        height: 100%;
      }

      iframe {
        height: 100%;
      }
    }
  }

  iframe {
    max-height: 350px;

    @media screen and (min-width: 992px) {
      max-height: 550px;
    }
  }

  @include birdeye-footer(#fff, false);

  .bf-dv {
    padding-left: 15px;
  }

  .bf-spn {
    font-family: $ff-lato;

    @include font-size(14px, 14px, 14px, 14px, 12px);
  }
}
