#section-services {
  text-align: left;
  padding-bottom: 30px;

  .services {
    &__heading {
      margin-bottom: 0;
      margin-top: 25px;
    }
  }

  .xs-text-beneath {
    padding-bottom: 20px;
    margin-top: -10px;
  }

  .card__text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30px;
    padding: 10px 0;
  }

  .feature__title {
    color: #fff;
    font-family: $ff-mont;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    @include font-size(44px, 34px, 40px, 22px, 20px);
  }

  .card {
    margin-bottom: 20px;

    &__title {
      color: #fff;
      font-family: $ff-mont;
      line-height: 1;
      margin-bottom: 0;
      font-weight: 900;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      @include font-size(34px, 24px, 40px, 22px, 20px);
    }
  }

  .card__link {
    text-decoration: underline !important;
    font-weight: 700;
    color: #ff9a00;
    margin-bottom: 0;
    font-size: 18px;

    // @include font-size(17px, 16px, 14px, 15px, 14px);
  }

  .card__image--fix {
    @media screen and (min-width: 768px) {
      height: 228.5px;
    }

    @media screen and (min-width: 992px) {
      height: 300px;
    }

    @media screen and (min-width: 1200px) {
      height: 364.5px;
    }
  }
}
