#section-services {
  text-align: left;
  padding-bottom: 30px;

  .services {
    &__heading {
      margin-bottom: 0;
      margin-top: 25px;
    }
  }

  .xs-text-beneath {
    padding-bottom: 20px;
    margin-top: -10px;

    @media (min-width: 768px) {
      height: 280px;
    }
  }

  .white {
    color: #fff;
    line-height: 1.1;
    font-size: 16px;
    padding-top: 7px;
    margin-bottom: 10px;
  }

  .cerec-p-width {
    max-width: 45%;
    padding-bottom: 5px;

    @media (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  .implant-p-width {
    max-width: 90%;
  }

  .card__text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30px;
    padding: 10px 0;
  }

  .top-right {
    text-align: right;
    padding-right: 45px;

    @media (min-width: 768px) {
      bottom: 190px;
    }

    @media (min-width: 992px) {
      bottom: 100px;
    }

    @media (min-width: 1201px) {
      bottom: 110px;
    }
  }

  .center-left {
    @media (min-width: 768px) {
      bottom: 110px;
      padding-left: 65px;
    }

    @media (min-width: 992px) {
      bottom: 50px;
      padding-left: 25px;
    }

    @media (min-width: 1201px) {
      bottom: 80px;
      padding-left: 35px;
    }
  }

  .feature__title {
    color: #fff;
    font-family: $ff-mont;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    @include font-size(40px, 30px, 40px, 40px, 30px);
  }

  .card {
    margin-bottom: 30px;

    &__title {
      color: #fff;
      font-family: $ff-mont;
      line-height: 1;
      margin-bottom: 0;
      font-weight: 900;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      @include font-size(30px, 24px, 40px, 40px, 30px);
    }
  }

  .card__link {
    text-decoration: underline !important;
    font-weight: 700;
    color: #ff9a00;
    margin-bottom: 0;
    font-size: 18px;

    // @include font-size(17px, 16px, 14px, 15px, 14px);
  }

  .card__image--fix {
    @media screen and (min-width: 992px) {
      height: 443px;
    }

    @media screen and (min-width: 1200px) {
      height: 540px;
    }
  }
}
